node_modules/ 
package-lock.json 
yarn-debug.log* 
.env* 
.idea/ 
.DS_Store   

__pycache__/ 
*.py[cod] 
*.so 
node_modules 
web/.pnp 
web/.yarn/* 
.env 
.venv 
env/ 
venv/ 
.idea/ 
.DS_Store